{% extends "book/base.html" %}
{% block content %}
  <h2 class="mb-4">Friends:</h2>
  <div class="list-group">
      {% for friend in friends %}
      <a href="{% url 'detail' friend.username %}" class="list-group-item list-group-item-action d-flex align-items-center">
          <img class="mr-3 rounded-circle" src="{{ friend.profile.image.url }}" alt="{{ friend.username }}" width="60" height="60">
          <div class="ms-3">
              <h5 class="mt-0 mb-1">{{ friend.first_name }} {{ friend.last_name }}</h5>
              <small>{{ friend.username }}</small>
              <div class="notification badge bg-primary text-white">0</div>
          </div>
      </a>
      {% endfor %}
  </div>

  <script>

    setInterval(getNotification, 500)

    function getNotification(){
      let url = "{% url 'notification' %}"

      fetch(url)
      .then(res => res.json())
      .then(data =>{
        console.log(data)
        let chatNotificiation = document.getElementsByClassName("notification")
        for(let i = 0; i < data.length; i++){
          chatNotificiation[i].innerText = data[i]
        }
      })
      .catch(error => console.log(error))
    }

  </script>
{% endblock content %}
