{% extends "book/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <div class="d-flex align-items-center mb-4">
            <img class="rounded-circle account-img me-3" src="{{ user.profile.image.url }}">
            <div>
                <h2 class="account-heading mb-1">{{ user.username }}</h2>
                <p class="text-secondary m-0">{{ user.email }}</p>
            </div>
        </div>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group mb-4">
                <legend class="border-bottom mb-4">Profile Info</legend>
                <div class="row">
                    <div class="col-md-6">
                        {{ u_form|crispy }}
                    </div>
                    <div class="col-md-6">
                        {{ p_form|crispy }}
                    </div>
                </div>
            </fieldset>
            <div class="text-center">
                <button class="btn btn-primary btn-lg" type="submit">Update Profile</button>
            </div>
        </form>
    </div>
{% endblock content %}
