{% extends "book/base.html" %}

{% block content %}
   {% if user.is_authenticated %}
      {% for post in posts %}
         <article class="media content-section p-3 mb-3 border rounded shadow-sm">
            <img class="rounded-circle article-img mr-3" src="{{ post.author.profile.image.url }}" alt="{{ post.author }}" width="65" height="65">
            <div class="media-body">
               <div class="article-metadata mb-2">
                  <a class="comment-author" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                  <small class="text-muted">{{ post.date_posted|date:"Y. E d., G:i" }}</small>
               </div>
               <h4><p class="article-title" >{{ post.title }}</p></h4>
               <p class="article-content">{{ post.content }}</p>
               <div class="post-images mb-2 text-center">
                  {% for image in post.post_images.all %}
                     <div class="mb-2">
                        <img src="{{ image.image.url }}" alt="{{ image.description }}" class="img-fluid rounded mb-1 post-image">
                        {% if image.description %}
                           <p class="text-muted">{{ image.description }}</p>
                        {% endif %}
                     </div>
                  {% endfor %}
               </div>
               <div class="reaction-buttons">
                  <button class="like-button btn btn-outline-primary btn-sm" data-post-id="{{ post.pk }}">
                      <i class="fa fa-thumbs-up"></i> Like
                  </button>
                  <button class="dislike-button btn btn-outline-danger btn-sm" data-post-id="{{ post.pk }}">
                      <i class="fa fa-thumbs-down"></i> Dislike
                  </button>
                  <p class="mt-2">
                      <span class="text-primary">Likes: <span id="likes-{{ post.pk }}"> {{ post.total_likes }} </span></span>
                      <span class="text-danger ml-3">Dislikes: <span id="dislikes-{{ post.pk }}">{{ post.total_dislikes }}</span></span>
                      <span class="text-muted ml-3">Comments: <span id="comments-{{ post.pk }}">{{ post.total_comments }}</span></span>   
                  </p>
              </div>
              
              <div id="comments-{{ post.pk }}" class="comment-section">
                  {% for comment in post.comments.all %}
                      <div class="comment">
                          <img src="{{ comment.author.profile.image.url }}" alt="{{ comment.author }}" class="comment-author-img">
                          <div class="comment-body">
                              <a class="comment-author" href="{% url 'user-posts' comment.author.username %}">{{ comment.author.username }}</a>
                              <div class="comment-meta">{{ comment.date_posted|date:"Y. E d., G:i" }}</div>
                              <div class="comment-content">{{ comment.content }}</div>
                          </div>
                      </div>
                  {% empty %}
                      <p>No comments yet.</p>
                  {% endfor %}
                  {% if user.is_authenticated %}
                      <form class="comment-form" method="POST" action="{% url 'add-comment' post.pk %}">
                          {% csrf_token %}
                          <textarea name="content" placeholder="Add a comment..."></textarea>
                          <button type="submit" class="comment-button btn btn-outline-secondary btn-sm">
                           <i class="fa fa-comments"></i> Send Comment
                          </button>
                      </form>
                  {% endif %}
              </div>              
            </div>
         </article>
      {% endfor %}
   {% else %}
      <div class="alert alert-warning" role="alert">
         <p class="mb-0">Please <a href="{% url 'login' %}" class="alert-link">log in</a> to view the posts.</p>
      </div>
   {% endif %}
{% endblock %}
